.Profile-Pic{
    width: 200px;
    height: 200px;
    margin-left: 32%;
    border-radius: 50%;
    background-image: url('../resources/images/man.svg');
    background-position: center;
    background-size: 100% auto;
    background-repeat: no-repeat;
}
li{
    list-style: none;
}
h3{
    font-family: 'Courier New', Courier, monospace;
}
#login-form-title{
    margin-top: 10%;
    width: 100%;
    text-align: center;
    position: relative;
    font-family: 'Courier New', Courier, monospace;
}
#login-form{
    position: relative;
    margin-top: 5%;

}